#gameboard {
  display: flex;
  background-color: rgb(0, 89, 190);
  flex-wrap: wrap;
  margin: auto;
  border: 1px solid black; /* Border style, color, and width */
}

#titleForPage {
  text-align: center;
}

#output {
  font-size: 50px;
}

#form {
  text-align: center;
}

.square {
  height: 60px;
  width: 60px;
  position: relative;
}

.square svg {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.piece {
  fill: white;
}

.red {
  fill: rgb(189, 0, 0)
}

.blue {
  fill:rgb(0, 89, 190)
}

.yellow {
  fill: rgb(211, 211, 46);
}
