body {
    /*background-image: url(https://th.bing.com/th/id/OIP.Prmh9krR1uKwXedgc7eObAHaHe?rs=1&pid=ImgDetMain);*/
    /*background-image: url(https://images-na.ssl-images-amazon.com/images/I/81fEiLrmZ8L._AC_SL1500_.jpg);*/
    background-image: url(https://i5.walmartimages.com/asr/272579ac-5ac9-4a48-a369-61c1cfc4fbfe_1.7a5a95419453bcf43abe92e2998a4f71.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF);
}

#infoBlock {
    text-align: center;
    font-family: monospace;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    max-width: 480px;
    height: 450px;
}

#form {
    margin-top: 50px;
}

h1 {
    font-size: 50px;
}
